<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sogeti.rental.ui.category"
            name="rental">
      </category>
      <view
            category="com.sogeti.rental.ui.category"
            class="com.sogeti.rental.ui.views.RentalPropertyView"
            id="com.sogeti.rental.ui.rentalPropertyView"
            name="rentalProperty"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.category"
            class="com.sogeti.rental.ui.views.RentalAgencyView"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.rentalAgency"
            name="RentalAgency"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sogeti.rental.ui.perspectives.RentalPerspective"
            id="com.sogeti.rental.ui.perspectives.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sogeti.rental.ui.preference.RentalDefaultColor">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.sogeti.rental.ui.preference.RentalColorPrefPage"
            id="com.sogeti.rental.ui.rentalcolor"
            name="Rental Color">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.sogeti.rental.ui.handlers.SampleHandler"
            id="com.sogeti.rental.ui.rentalcommand"
            name="Rental Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="com.sogeti.rental.ui.rentalcommand"
               label="ma commande"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.sogeti.rental.ui.rentalcommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sogeti.rental.ui.rentalAgency?after=additions">
         <command
               commandId="com.sogeti.rental.ui.rentalcommand"
               label="my cmd"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
