<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sogeti.rental.ui.category"
            name="rental">
      </category>
      <view
            category="com.sogeti.rental.ui.category"
            class="com.sogeti.rental.ui.views.RentalPropertyView"
            id="com.sogeti.rental.ui.rentalPropertyView"
            name="rentalProperty"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.category"
            class="com.sogeti.rental.ui.views.RentalAgencyView"
            id="com.sogeti.rental.ui.rentalAgency"
            name="RentalAgency"
            restorable="true">
      </view>
   </extension>

</plugin>
