<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="palette" name="palette" schema="schema/palette.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.sogeti.rental.ui.category"
            name="rental">
      </category>
      <view
            category="com.sogeti.rental.ui.category"
            class="com.sogeti.rental.ui.views.RentalPropertyView"
            id="com.sogeti.rental.ui.rentalPropertyView"
            name="rentalProperty"
            restorable="true">
      </view>
      <view
            category="com.sogeti.rental.ui.category"
            class="com.sogeti.rental.ui.views.RentalAgencyView"
            icon="icons/Agency.png"
            id="com.sogeti.rental.ui.rentalAgencyView"
            name="RentalAgency"
            restorable="true">
      </view>
      <view
            class="com.sogeti.rental.ui.views.RentalCustomerView"
            id="com.sogeti.rental.ui.rentalCustomer"
            name="rentalCustomer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.sogeti.rental.ui.perspectives.RentalPerspective"
            id="com.sogeti.rental.ui.perspectives.RentalPerspective"
            name="Rental">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.sogeti.rental.ui.preference.RentalDefaultColor">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.sogeti.rental.ui.prefPalette"
            class="com.sogeti.rental.ui.preference.RentalColorPrefPage"
            id="com.sogeti.rental.ui.rentalcolor"
            name="Default">
      </page>
      <page
            class="com.sogeti.rental.ui.preference.PalettePreferencePage"
            id="com.sogeti.rental.ui.prefPalette"
            name="palette">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.sogeti.rental.ui.handlers.SampleHandler"
            id="com.sogeti.rental.ui.rentalcommand"
            name="Rental Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="com.sogeti.rental.ui.rentalcommand"
               label="ma commande"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.sogeti.rental.ui.rentalcommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.sogeti.rental.ui.rentalAgencyView?after=additions">
         <command
               commandId="com.sogeti.rental.ui.rentalcommand"
               label="my cmd"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="com.sogeti.rental.ui.palette">
      <palette
            class="com.sogeti.rental.ui.palette.DefaultPalette"
            id="com.sogeti.rental.ui.palette.DefaultPalette"
            name="default palette "></palette>
      <palette
            class="com.sogeti.rental.ui.palette.JaunePalette"
            id="com.sogeti.rental.ui.PaletteJaune"
            name="jaune">
      </palette>
   </extension>

</plugin>
